<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/3954e72066.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/imagens/desktop/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/slide-header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Home | JubãoFe</title>
</head>
<body>
    <header>
        <section class="mobile-header">
            <img src="/imagens/mobile/menu-hamburguer.png" alt="Ícone Menu Hamburguer" class="menu-hamburguer">
            <a href="#">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
            </a>
        </section>
        <nav>
            <section class="desktop-logo-container">
                <a href="#">
                    <img src="/imagens/desktop/jubao-logo.png" alt="Logo JubãoFe Autoclube">
                </a>
            </section>
            <ul class="pages-list">
                <li>
                    <a href="/inscricao" rel="next" target="_self">Inscrições</a>
                </li>
                <li>
                    <a href="/portal-noticias">Notícias</a>
                </li>
                <li>
                    <a href="/albums" rel="next" target="_self">Galeria de Fotos</a>
                </li>
                <li>
                    <a href="/calendario" rel="next" target="_self">Calendário</a>
                </li>
                <li>
                    <a href="/quem-somos" rel="next" target="_self">Quem Somos</a>
                </li>
                <section class="associations-container">
                    <img src="/imagens/mobile/faugo-logo.png" alt="Logo da FAUGO" class="logo-faugo">
                    <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
                    <img src="/imagens/mobile/cba.png" alt="Logo da CBA" class="logo-cba">
                </section>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                        <img src="/imagens/desktop/instagram-logo.png" alt="Logo dos Instagram">
                    </a>
                </li>
                <li>
                    <a href="mailto:jubaofe@gmail.com" rel="external" target="_blank">
                        <img src="/imagens/desktop/email-logo.png" alt="Logo do Email">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                        <img src="/imagens/desktop/youtube-logo.png" alt="Logo do Youtube">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="background-desktop-header">
        <section class="slide-background-container">
            <section class="images-container main">
                <section class="info-header">
                    <section class="cup-name-container">
                        <h1><%= cup %></h1>
                        <h2>INSCRIÇÕES ABERTAS</h2>
                    </section>
                    <section class="flex-info-container">
                        <section class="class-container">
                            <h1>CATEGORIAS:</h1>
                            <section class="class-flex">
                                <ul class="first-class">
                                    <li><%= categories.c1 %></li>
                                    <li><%= categories.c2 %></li>
                                </ul>
                                <ul class="second-class">
                                    <li><%= categories.c3 %></li>
                                    <li><%= categories.c4 %></li>
                                    <li><%= categories.c5 %></li>
                                </ul>
                            </section>
                        </section>
                    </section>
                    <section class="flex-container">
                        <section class="button-container">
                            <a href="<%= url %>" class="inscricao-btn">INSCREVER-SE</a>
                        </section>
                        <section class="associations-info-container">
                            <img src="imagens/desktop/cba.png" alt="Logo da CBA" class="logo-info-cba">
                            <img src="imagens/desktop/faugo-logo.png" alt="Logo da FAUGO" class="logo-info-faugo">
                        </section>
                    </section>
                </section>
                <div class="prev-button-container">
                    <button class="prev-image-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
                <div class="next-button-container">
                    <button class="next-image-btn">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </section>
            <section class="images-container alternative">
                <div class="prev-button-container">
                    <button class="prev-image-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
                <div class="next-button-container">
                    <button class="next-image-btn">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </section>
        </section>
    </section>

    <main>
        <section class="desktop-container">
            <section class="news-jubao-container">
                <section class="banner-container">
                    <picture>
                        <source media="(min-width: 992px)" srcset="imagens/desktop/novidades-bg.jpg">
                        <img src="imagens/mobile/novidades-bg.jpg" alt="Banner de Novidades">
                    </picture>
                    <section class="info-banner-container">
                        <section class="text-container">
                            <h1 class="info-main"><span class="light-text">CONFIRA E</span> SE INSCREVA</h1>
                            <h2 class="info-alternative">EM NOSSOS RALLYS</h2>
                        </section>
                        <section class="buttons-container">
                            <a href="/albums">VER FOTOS</a>
                            <a href="/inscricao">INSCRIÇÃO</a>
                        </section>
                    </section>
                </section>
            </section>
            <section class="poeiracast-container">
                <picture class="assista-poeiracast">
                    <a href="https://youtube.com/playlist?list=PLvEEtPflTXtiOXjWysawlsLv7UeaY27xz&si=uyFUgOtCOiwgMxM9" rel="external" target="_blank">
                        <source media="(min-width: 992px)" srcset="imagens/desktop/youtube-acompanhe.png">
                        <img src="imagens/mobile/youtube-acompanhe.png" alt="Mensagem para acompanhar o Podcast 'Poeira Cast no Youtube'">
                    </a>
                </picture>
                <p>Vídeo recentes</p>
                <section class="position-relative-container">
                    <section class="loading-animation"></section>
                    <section class="video-container">
                        <section class="slide-video-container">

                        </section>
                    </section>
                    <section class="nav-video-buttons-container">
                        <button class="prev-video-btn">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <button class="next-video-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </section>
                </section>
                <div class="div"></div>
            </section>
        </section>
        <section class="news-container" id="news-container">
            <section class="gradient-background"></section>
            <section class="title-container">
                <h1>
                    <span class="light-text">ÚLTIMAS</span> NOTÍCIAS
                </h1>
            </section>
            <section class="main-news-desktop">
                
            </section>
            <section class="other-news">
                
            </section>
            <iframe frameborder="0" id="news-iframe" class="hidden"></iframe>
            <section class="more-news-container">
                <a href="/portal-noticias"><span class="light-text">Mais</span> Notícias</a>
            </section>
        </section>
    </main>

    <section class="sponsorship-container">
        <h1>Patrocínios</h1>
        <section class="sponsorship-logo-container">
            <img src="/imagens/patrocinadores/accert-transportes.png" alt="Logo da Accert Transportes">
            <img src="/imagens/patrocinadores/kairos-tcc.png" alt="Logo da Kairos TCC">
            <img src="/imagens/patrocinadores/tottal-car.png" alt="Logo da Tottal Car">
            <img src="/imagens/patrocinadores/vs-engenharia.png" alt="Logo da VS Engenharia">
        </section>
    </section>

    <footer>
        <section class="desktop-footer">
            <section class="logo-container">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube">
            </section>
            <section class="contact-footer-container">
                <h1>INFORMAÇÕES DE CONTATO:</h1>
                <section class="info-contato">
                    <p>
                        TELEFONE: (62) 9 9133-6479 <br>
                        CONTATO: jubaofe@gmail.com <br>
                        INSTAGRAM: @rallydojubao
                    </p>
                </section>
            </section>
            <section class="mobile-terms-container">
                <h1>Termos de Uso e Política de privacidade</h1>
                <ul>
                    <li>
                        <a href="/termos" rel="next" target="_self">Termos de Uso</a>
                    </li>
                    <li>
                        <a href="/politica-privacidade" rel="next" target="_self">Política de privacidade</a>
                    </li>
                </ul>
            </section>
            <section class="accesses-footer-container">
                <h1>OUTROS ACESSOS:</h1>
                <ul>
                    <li>
                        <a href="/inscricao" rel="next" target="_self">Inscrições</a>
                    </li>
                    <li>
                        <a href="/portal-noticias" rel="next" target="_self">Notícias</a>
                    </li>
                    <li>
                        <a href="/albums" rel="next" target="_self">Galeria de Fotos</a>
                    </li>
                    <li>
                        <a href="/calendario" rel="next" target="_self">Calendário</a>
                    </li>
                    <li>
                        <a href="/quem-somos" rel="next" target="_self">Quem Somos</a>
                    </li>
                    <li>
                        <a href="/termos" rel="next" target="_self">Termos de uso</a>
                    </li>
                    <li>
                        <a href="/politica-privacidade" rel="next" target="_self">Política de privacidade</a>
                    </li>
                </ul>
            </section>
            <section class="social-footer-container">
                <h1>SIGA NOS:</h1>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                            <img src="/imagens/mobile/youtube-logo.png" alt="Ícone do Youtube">
                            <span>Youtube</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:jubaofe@gmail.com">
                            <img src="/imagens/mobile/email-logo.png" alt="Ícone do Email">
                            <span>jubaofe@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                            <img src="/imagens/mobile/instagram-logo.png" alt="Ícone do Instagram">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="associations-footer">
                <img src="/imagens/desktop/cba.png" alt="Logo CBA">
                <img src="/imagens/desktop/faugo-logo.png" alt="Logo FAUGO">
            </section>
        </section>
        <p class="copy">
            &copy; JubãoFe Autoclube Todos os Direitos Reservados <br>
            Desenvolvido por <a href="https://www.instagram.com/indigitalprogramming/">Indigital</a>
        </p>
    </footer>

    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/youtube.js"></script>
    <script src="/javascripts/slides.js"></script>
    <script src="/javascripts/noticias.js"></script>
</body>
</html>